<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Bubblegum Galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>candy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Dark Matter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Emerald Nebula</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>forest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Interstellar</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>interstellar</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Mars</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>sun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Pastel Galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>nebula</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red Planet</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Royal Galaxy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>White Nova</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>white</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>cosmos</string>
			</array>
			<key>CFBundleIconName</key>
			<string>Cosmos</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
